html {
    min-height: 100%;
    position: relative;
}
body {
    height: 100%;
    background-image:url('http://whentheresawill.net/static/realtalk/img/cinque_terre_bk.jpg');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center top; 
}
img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6, .tw {
    font-family: 'Cutive', serif;
}

.body {
    padding-bottom: 85px;
}

hr {
    border: 0;
    height: 1px;
    background: #d6d6d6;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: rgb(250,250,250);
    background: rgba(250,250,250,0.3);
    color: #fff;
}

#footer .container {
  padding: 10px 0;
}

#footer hr {
    padding: 0;
    margin: 0;
}

#footer a {
  color: #fff;
}

@media (min-width: 768px) {
  .body {padding-bottom: 40px;}
}



.jumbotron {
  background: none;
  font-family: 'Cutive', serif;
}

.body-back {
    background: rgb(250,250,250);
    background: rgba(250,250,250,0.9);
    width: 100%
}

#footer {
  background: none;
  color: #303030;
}

#footer a {
  color: #303030;
}