// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

@font-face {
  font-family: 'Cutive';
  src: url('/styles/fonts/Cutive-Regular.ttf') format('truetype');
}

$fa-font-path: "/styles/fonts";
@import "font-awesome/scss/font-awesome.scss";


html {
    min-height: 100%;
    position: relative;
}
body {
    height: 100%;
    background-image:url('http://whentheresawill.net/static/realtalk/img/cinque_terre_bk.jpg');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center top; 
}

body .container {
  padding-left: 0;
  padding-right: 0;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6, .tw {
    font-family: 'Cutive', serif;
}

.body {
    padding-bottom: 85px;
}

hr {
    border: 0;
    height: 1px;
    background: #d6d6d6;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: rgb(250,250,250);
    background: rgba(250,250,250,0.3);
    color: #fff;
}

#footer .container {
  padding: 10px 0;
}

#footer hr {
    padding: 0;
    margin: 0;
}

#footer a {
  color: #fff;
}

@media (min-width: 768px) {
  .body {padding-bottom: 40px;}
}

.front {
    .jumbotron {
      background: none;
      font-family: 'Cutive', serif;
    }
    
    .body-back {
        background: rgb(250,250,250);
        background: rgba(250,250,250,0.9);
        width: 100%
    }
    
    #footer {
      background: none;
      color: #303030;
    }
    
    #footer a {
      color: #303030;
    }
}

.settings {
    .body {
      padding-top: 71px;
      max-width: 768px;
    }
    
    .user-container {
    
    }
    
    #user-img {
      margin: 0 auto;
      display: block;
    }
    
    #user-name {
      display: inline-block;
      vertical-align: bottom;
      margin-bottom: 0;
    }
}

.talk {
    body {
        padding-top: 50px;
        height: 100%;
        background-image:url('http://whentheresawill.net/static/realtalk/img/cinque_terre_bk.jpg');
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-position:center top; 
    }
    
    .chatcontainer {
      padding: 40px 15px;
    }
    
    .animate {
      -webkit-transition: width 0.3s ease;
      -moz-transition: width 0.3s ease;
      -o-transition: width 0.3s ease;
      transition: width 0.3s ease;
    }
    
    #message {
      background: rgb(70,70,70);
      background: rgba(0,0,0,0.3);
      color: white;
      text-align: center;
      min-height: 182px;
      position: relative;
    }
    #message .event-btns {
      position: absolute;
      width: 100%;
      bottom: 20px;
    }
    
    #chat .chathead {
      color: white;
    }
    
    .user-unavailable {
        text-decoration:line-through;
    }
    
    .zero-width {
      width: 0;
      overflow: hidden;
      padding:0;
      margin: 0;
    }
    
    #empty {
      color: white;
      background: rgb(70,70,70);
      background: rgba(0,0,0,0.3);
      text-align: center;
      max-height: 182px;
      overflow: hidden;
    }
    #empty h3 {
        margin: 0;
        padding: 15px;
    }
    
    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
        #empty {
          border-radius: 15px;
        }
    }
}

.sign {
    .form-container {
      margin: 0 auto;
      padding-top: 40px;
    }
    
    .form-sign {
      max-width: 330px;
      padding: 15px;
      margin: 0 auto;
    }
    .form-signin h3 {
      color: black;
    }
    .form-signin input {
      margin-bottom: 10px;
    }
    
    #footer {
      background: rgb(250,250,250);
      background: rgba(250,250,250,0.9);
    }
    
    #footer hr {
      padding-top:0;
      margin-top:0;
    }
}