    <!-- Footer -->
    <div id="footer">
      <hr>
      <div class="container">
        <div class="col-sm-4">
          <a href="https://www.nodejitsu.com/">powered by Nodejitsu</a>
        </div>
        <div class="col-sm-4">
          <a id="contact">Email the dev!</a>
        </div>
        <div class="col-sm-4">Code licensed under MIT
          <br>&#169; Will Lee-Wagner</div>
      </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script language="javascript" type="text/javascript" src="js/plugins/jquery.willpop.min.js"></script>