<!DOCTYPE html>
<html lang="en">
  <head>
    <% include includes/header %>
    <!-- CSS for this page -->
    <link href="css/base.css" rel="stylesheet">
    <link href="css/sign.css" rel="stylesheet">
  </head>
  <body>
    <!-- Nav -->
    <% include includes/nav %>
  
    <div class="container body form-container">
    <!-- Messages -->
    <% include includes/messages %>
      
      <!-- CONNECT FORM -->
      <form class="form-sign" action="/connect/local" method="post" role="form">
        <h3>Connect your email and password for easy signin</h3>
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" name="password">
      </div>
        <button type="submit" class="btn btn-primary btn-lg">Connect</button>
      </form>
    </div>
    
    <!-- Footer -->
    <% include includes/footer %>
  </body>
</html>