<!DOCTYPE html>
<html lang="en">
  <head>
    <% include includes/header %>
    <!-- CSS for this page -->
    <link href="css/webtalk.css" rel="stylesheet">
  </head>
  <body>
    <input id="input" type="password" value=' ' autofocus style="opacity:0; position: fixed; width:100%">
    <!-- Nav -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="tw"><a class="navbar-brand" href="/">realtalk.</a></span>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav active">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">User Chooser <b class="caret"></b></a>
              <ul class="dropdown-menu" id="users">
              </ul>
            </li>
            <li><a href="about">Chat</a></li>
            <li><a href="settings">Settings</a></li>
            <li><a href="logout">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    
    <div class="container chatcontainer">
      <div class="row">
        
        <!-- Message Section -->
        <div class="animate col-md-4 col-md-offset-1 col-sm-10 col-xs-12 col-sm-offset-1 zero-width" id="message">
          <form role="form">
            <h3 id="event-header"> </h3>
            <div class="row event-btns">
              <div class="col-sm-6">
                <input type="button" class="btn btn-block btn-success" id="event-yes" value=""/>
              </div>
              <div class="col-sm-6">
                <input type="button" class="btn btn-block btn-danger" id="event-no" value=""/>
              </div>
            </div>
          </form>
        </div>
        
        <!-- Chat Section -->
        <div class="animate col-md-6 col-md-offset-3 col-sm-10 col-xs-12 col-sm-offset-1 zero-width" id="chat">
          <div class="chatside form-group">
            <label class="chathead" for="other" id="head-other">OtherUser</label>
            <div class="input-group">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-user"></span>
              </span>
              <input type="text" class="form-control chatbox" id="other" readonly>
            </div>
          </div>
          <div class="chatside form-group">
            <label for="me" class="chathead" id="head-me"><%= username %></label>
            <div class="input-group">
              <input type="text" class="form-control chatbox" id="me" readonly>
              <span class="input-group-addon">Me</span>
            </div>
          </div>
          <div>
            <input type="button" class="btn btn-block btn-danger" id="quit" value="Quit Chat"/>
          </div>
        </div>
        
        <!-- Empty Section -->
        <div class="animate col-xs-12" id="empty">
          <h3>Select a user to talk with from the User Chooser menu</h3>
        </div>
      </div>
    </div>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//cdn.socket.io/socket.io-1.0.4.js"></script>
    <script language="javascript" type="text/javascript" src="js/plugins/jquery.splendid.textchange.js"></script>
    <script language="javascript" type="text/javascript" src="js/webtalk.js"></script>
  </body>
</html>