.jumbotron {
  background: none;
  font-family: 'Cutive', serif;
}

.body-back {
    background: rgb(250,250,250);
    background: rgba(250,250,250,0.9);
    width: 100%
}

#footer {
  background: none;
  color: #303030;
}

#footer a {
  color: #303030;
}