body {
  padding-top: 50px;
  background-image:url('../img/cinque_terre_bk.jpg');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center; 
}

.chatcontainer {
  padding: 40px 15px;
}

.animate {
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

#message {
  background: rgb(70,70,70);
  background: rgba(0,0,0,0.3);
  color: white;
  text-align: center;
  min-height: 182px;
  position: relative;
}
#message .event-btns {
  position: absolute;
  width: 100%;
  bottom: 20px;
}

#chat .chathead {
  color: white;
}

.user-unavailable {
    text-decoration:line-through;
}

.zero-width {
  width: 0;
  overflow: hidden;
  padding:0;
  margin: 0;
}

#empty {
  color: white;
  background: rgb(70,70,70);
  background: rgba(0,0,0,0.3);
  text-align: center;
  max-height: 182px;
  overflow: hidden;
}
#empty h3 {
    margin: 0;
    padding: 15px;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    #empty {
      border-radius: 15px;
    }
}