html {
  height: 100%;
  width: 100%;
}
body {
    height: 100%;
    width: 100%;
    background-color: #f4f4f7;
    font-family: sans-serif;
}

.section {
  height: 100%;
  width: 30%;
  display:inline-block;
}

.chathead {
    font-weight: bold;
    text-transform: capitalize;
}
.chatbox {
    position: relative;
    width: 100%;
    resize: none;
    font-family: sans-serif;
    background: white;
    border: 1px solid black;
}

footer input{
    width: 100%;
    background-color: #DB8181;
    padding:5px;
    border: 1px solid #666;
    color:#000;
    text-decoration:none;
}