<div class="container">
  <div class="jumbotron text-center">
    <h1>realtalk.</h1>
    <p>real talk in real time</p>
    
    <!-- Authorized nav bar -->
    <div ng-show="nav.auth">
      <a href="#/talk" class="btn btn-danger"><span class="fa fa-comments-o"></span> start talking!</a>
      <a href="#/settings" class="btn btn-default"><span class="fa fa-cog"></span> settings</a>
      <a href="#/signout" class="btn btn-primary"><span class="fa fa-sign-out"></span> sign out</a>
    </div>
    <!-- Not authorized nav bar -->
    <div ng-hide="nav.auth">
      <a href="#/signin" class="btn btn-default"><span class="fa fa-sign-in"></span> sign in</a>
      <a href="#/signup" class="btn btn-default"><span class="fa fa-user"></span> sign up</a>
    </div>

  </div>
</div>