<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- header -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="tw"><a class="navbar-brand" href="/">realtalk.</a></span>
    </div>
    <div class="collapse navbar-collapse">
      <!-- Logged in Nav -->
      <ul class="nav navbar-nav" ng-show="nav.auth">
        <li><a href"#">Home</a></li>
        <li><a href"#/talk">Talk</a></li>
        <li><a href"#/settings">Settings</a></li>
        <li><a href"#/logout">Logout</a></li>
      </ul>
      <!-- Logged out Nav -->
      <ul class="nav navbar-nav" ng-hide="nav.auth">
        <li><a href"#">Home</a></li>
        <li><a href"#/login">Login</a></li>
        <li><a href"#/signup">Signup</a></li>
      </ul>
      
    </div>
  </div>
</div>