<?xml version="1.0" encoding="UTF-8" ?>
<widget 
    xmlns="http://www.w3.org/ns/widgets" 
    xmlns:gap="http://phonegap.com/ns/1.0"
    id="net.whentheresawill.realtalk" 
    version="0.0.4">
    
    <name>realtalk.</name>
    <description>A teleprompter for the 21st Century</description>
    <author email="will@whentheresawill.net"
    href="http://whentheresawill.net">Will</author>
    <content src="index.html" />
    <preference name="permissions" value="none" />
    <preference name="android-targetSdkVersion" value="17" />
    
    <icon src="res/icons/ldpi.png" gap:platform="android" gap:qualifier="ldpi"/>
    <icon src="res/icons/mdpi.png" gap:platform="android" gap:qualifier="mdpi"/>
    <icon src="res/icons/hdpi.png" gap:platform="android" gap:qualifier="hdpi"/>
    <icon src="res/icons/xhdpi.png" gap:platform="android" gap:qualifier="xhdpi"/>
    <icon src="res/icons/xxhdpi.png" gap:platform="android" gap:qualifier="xxhdpi"/>
    
    <gap:splash src="res/splash/splash-android-LDPI.png" gap:platform="android" gap:qualifier="ldpi"/>
    <gap:splash src="res/splash/splash-android-MDPI.png" gap:platform="android" gap:qualifier="mdpi"/>
    <gap:splash src="res/splash/splash-android-HDPI.png" gap:platform="android" gap:qualifier="hdpi"/>
    <gap:splash src="res/splash/splash-android-XHDPI.png" gap:platform="android" gap:qualifier="xhdpi"/>
</widget>