<div class="front">
<homenav></homenav>

<div class="body-back">
  <div class="container body">
    <div class="row">
      <div class="col-sm-4">
        <h3>real immediate</h3>
        <p>In a normal chat app, you compose a message, then send it - basically
          really fast letter writing.
          <span class="tw">realtalk</span>is different. It sends each character you type, as you
          type it. It all happens in real time, letting you talk over each other
          and finish each other's sentances, - just like when you're actually talking
          to someone.</p>
        <p>True, it isn't always the most effecient. But it's real conversation,
          and that's a rare thing for text.</p>
      </div>
      <div class="col-sm-4">
        <h3>real temporary</h3>
        <p>Were we're going, we don't need chat logs. You've got a box showing the
          last 50 characters you typed, and another showing the last 50 characters
          your friend typed. The server's got nothing. That's it.</p>
        <p>In real time, a conversation moves pretty quickly. So if you want to keep
          up, you've got to be paying attention. Sometimes, that's not practical.
          But when you really want to talk to someone, needing to keep the other
          browser tabs closed is kind of nice.</p>
      </div>
      <div class="col-sm-4">
        <h3>real mobile</h3>
        <p>
          <span class="tw">realtalk</span>isn't just for desktop, and doesn't need an app. This webapp
          is built mobile-first, and works great on your smartphone. Since you're
          typing in real-time, autocorrect is disabled, so you've got nobody to blame
          but Freud when you "mistype" something.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-8">
        <h1>make the call</h1>
        <p>The get started, create an account or sign in through webchat, Facebook,
          Google+, or Twitter. Under settings, you can choose a username, or leave
          it as your email address or Twitter handle.</p>
        <p>Once you're logged in, check if your friends are online, or ping them
          via email or through the (planned) ringer extension. You can (planned)
          search for people by email or username, and save them as friends.</p>
        <p>Think of connecting like making a phone call. Click on an online contact's
          name, and webtalk will rign them. They can choose to pick up or say they're
          unavailable. If they pick up, you're connected, and the chat boxes will
          slide in. Start typeing! To end the chat, click Quit, pick up another incoming
          request, or start chatting with someone else.</p>
      </div>
      <div class="col-sm-4">
        <img title="screencap" src="//whentheresawill.net/static/realtalk/img/front/cap_ring.jpg">
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-8  col-sm-push-4">
        <h1>talking, not chatting</h1>
        <p>Once you're talking with someone, there's not much to know. Type, and
          your text will be sent in real-time to your friend. Hit backspace to remove
          a character, and Enter to clear your box. Then, have fun!</p>
        <p>Using
          <span class="tw">realtalk</span>is different than chatting, so you shouldn't go in expecting
          it to do the same things. This isn't an app for multitasking. It's like
          talking in person; it can be done, but the person on the other end will
          notice. Instead, this is an app for really talking. Try it for a while,
          and you'll see how much give-and-take is missing for the compose, re-read,
          send style of chatting.</p>
      </div>
      <div class="col-sm-4  col-sm-pull-8">
        <img title="screencap" src="//whentheresawill.net/static/realtalk/img/front/cap_talk.jpg">
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-8">
        <h1>record-less. really?</h1>
        <p>Yep, really. Here's how it works: When you type a character, your browser
          throws away what you typed 51 characters ago, displays what you typed,
          and fires it off to the server. The server passes it directly to your friend
          without writing anything to disk. When you friend receives it, their browser
          throws out your 51st character too, and displays the new one. The power
          of modern technology lets all that happen within milliseconds, and when
          you press Enter or quit the chat, it's just all gone, because the text
          only lived on your browsers to begin with.</p>
        <p>So on the one hand - sometimes it's nice to be able to go back and see
          what you were talking about. On the other hand - speak freely! Nobody's
          taking notes.</p>
        <p>One thing to keep in mind, though - it's record-less, not encrypted. So,
          while there's nothing for hackers or the NSA to find after the fact, somebody
          listening to your network traffic can totally see your text. They'd get
          it one character at a time, so they'd have to put it all together later,
          but still.</p>
      </div>
      <div class="col-sm-4">
        <img title="screencap" src="//whentheresawill.net/static/realtalk/img/front/code.jpg">
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-8 col-sm-push-4">
        <h1>the technology</h1>
        <p>
          <span class="tw">realtalk</span>uses the power of node.js and socket.io to do its work.</p>
        <p>
          <a href="http://nodejs.org">Node</a>is a relativly new platform that runs Javascript on the server for fast,
          asynchronos input/output. It's perfect for applications with a lot of I/O
          and relativly little computation.</p>
        <p>
          <a href="http://socket.io">socket.io</a>is a library for node that makes working with websockets, a new standard
          for lightweight, two-way communication between a browser and a server,
          easy and cross-browser.</p>
      </div>
      <div class="col-sm-4 col-sm-pull-8">
        <div class="row">
          <a href="http://nodejs.org"><img title="screencap" src="//whentheresawill.net/static/realtalk/img/front/logo-nodejs.png"></a>
          <a href="http://socket.io"><img title="screencap" src="//whentheresawill.net/static/realtalk/img/front/logo-socket.png"></a>
        </div>
      </div>
    </div>
  </div>
</div>

<footer></footer>
</div>